# Python
__pycache__/
*.pyc
.venv/
.venv-linux/
.venv-win/
venv/
backend/test_sample.csv
backend/package-lock.json

# Node
node_modules/
.next/
out/

# Env
.env
.env.local
.env.*.local

# Data (don't commit actual data files)
data/bronze/*
data/silver/*
data/gold/*
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep

# OS
.DS_Store